body {
    background: #ccc;
}

h1 {
    text-align: center;
    padding-top: 45px;
}

p {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 15px;
}

label {
    font-weight: bold;
    padding-right: 30px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
}

input#email {
    margin-left: 25px;
}

button {
    margin-top: 45px;
    margin-left: 30px;
    padding: 4px 20px 4px 20px;
    font-size: 15px;
    font-family: serif;
    color: #000;
    background-color:  #ddd;
    line-height: 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
    outline: none
}

button:hover {
    font-weight: bold;
    background-color: #ccc;
}
